*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: #818181;
  --base-100: #fafaf5;
  --base-800: #000000;
  --pink: #ff99c8;
  --pink-100: #ffc2d2;
  --pink-800: #8e1650;
  --green: #6ce4b1;
  --green-100: #d0f4de;
  --green-800: #0ca57a;
  --yellow: #fcf6bd;
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background: var(--pink);
  border-radius: 20px;
  margin-block: 3px;
  padding: 3px;
}
::-webkit-scrollbar-thumb {
  background: var(--base-100);
  border-radius: 20px;
  border: 2px solid var(--base-800);
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--base-800);
  &:hover {
    text-decoration: underline;
    text-decoration-color: #ff99c8;
  }
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  margin-top: 20px;
  background-color: var(--yellow);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;

  .logo-holder {
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 600;

    .logo img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    .logo-text {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 20px;
    }
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style-type: none;
      gap: 5px;

      li {
        display: inline-block;
        a {
          display: inline-block;
          padding: 10px 20px;
          color: var(--base);
          &:hover {
            background-color: var(--pink);
            border-radius: 10px;
            text-decoration: none;
            color: var(--base-800);
          }
        }

        .contact-button {
          color: var(--base-800);
          &:hover {
            background-color: var(--green);
          }
        }
      }
    }
    .mobile-toggle {
      display: none;
      color: var(--green-800);
      padding: 10px;
      &:hover {
        color: var(--pink);
      }
      @media (max-width: 768px) {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    nav {
      margin-top: 10px;
      width: 100%;

      ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        a {
          width: 100%;
        }
        &.active {
          display: flex;
        }
      }
    }
  }
}

.container {
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (max-width: 1440px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.button {
  display: inline-block;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding: 13px 33px;
  background-color: var(--pink);
  border-radius: 10px;
  transition: ease 0.3s all;
  margin-top: 10px;
  &:hover {
    text-decoration: none;
    background-color: var(--yellow);
    color: var(--green-800);
  }
  &.white {
    background-color: var(--green);
    color: var(--base-800);
    border-style: none;
    &:hover {
      background-color: var(--green-800);
      color: var(--base-100);
    }
  }
  &.pink {
    background-color: var(--pink);
    color: var(--base-800);
    border-style: none;
    &:hover {
      background-color: var(--yellow);
      color: var(--green-800);
    }
  }
}

h1 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 20px 50px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 15px 0px;
}

.p {
  margin: 10px;
}

.desc-green {
  background-color: var(--green-100);
  display: flex;
  padding: 30px;
  border-radius: 30px;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .desc-info {
    flex: 2;
    p {
      margin-bottom: 30px;
      padding-right: 50px;
    }
  }
  .desc-skills {
    flex: 1;
    ul {
      list-style: none;
      gap: 10px;
      margin-left: -5px;
      margin-right: 100px;
      margin-bottom: 20px;
      li {
        display: inline-block;
        background-color: var(--pink);
        padding: 10px 20px;
        margin: 5px;
        border-radius: 7px;
        transition: ease 0.3s;
      }
      li:hover {
        background-color: var(--yellow);
      }
      img {
        width: 30px;
        height: 30px;
        margin-right: 50%;
        margin-top: 30px;
      }
    }
  }
}

.bento {
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  margin-top: 30px;

  @media (max-width: 1440px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .bento-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 960px;
    margin-bottom: -220px;
    @media (max-width: 1024px) {
      grid-template-rows: repeat(8, 1fr);
      height: 1000px;
      margin-bottom: -500px;
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: auto;
      margin-bottom: 30px;
    }
    .bento-item {
      padding: 30px;
      background-color: var(--base);
      border-radius: 15px;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        transition: ease 3s all;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
      @media (max-width: 768px) {
        height: 240px;
      }
      &:nth-child(1) {
        grid-column: span 2;
        grid-row: span 2;
        @media (max-width: 1024px) {
          grid-column: span 2;
          grid-row: span 2;
        }
      }
      &:nth-child(2) {
        grid-column: span 2;
        grid-row: span 1;
        @media (max-width: 1024px) {
          grid-column: span 3;
          grid-row: span 2;
        }
      }
      &:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
        @media (max-width: 1024px) {
          grid-column: span 2;
          grid-row: span 2;
        }
      }
      &:nth-child(4) {
        grid-column: span 3;
        grid-row: span 2;
        @media (max-width: 1024px) {
          grid-column: span 3;
          grid-row: span 1;
        }
      }
      &:nth-child(5) {
        grid-column: span 1;
        grid-row: span 1;
        @media (max-width: 1024px) {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
      &:nth-child(6) {
        grid-column: span 1;
        grid-row: span 1;
        @media (max-width: 1024px) {
          grid-column: span 2;
          grid-row: span 1;
        }
      }
    }
  }
}

.contact {
  .contact-main {
    background-color: var(--yellow);
    border-radius: 30px;
    padding: 30px;
    gap: 30px;
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    p {
      margin-bottom: 30px;
    }
    .contact-form {
      flex: 2;
      flex-direction: row;
      padding: 10px;
      input {
        padding: 15px;
        font-family: "Poppins", sans-serif;
        border: solid var(--green-800);
        border-radius: 15px;
        width: 100%;
        margin-bottom: 10px;
      }
      input:hover {
        border: solid var(--pink-800);
      }
      textarea {
        padding: 15px;
        font-family: "Poppins", sans-serif;
        border: solid var(--green-800);
        border-radius: 15px;
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
      }
      button {
        font-size: 18px;
      }
    }
    .contact-info {
      flex: 1;
    }
  }
}
